{% extends 'base.html' %}
{% block content %}
    <main class="main main--about">
        <p>
        My name’s Martin, an aspiring Python developer who’s studying System 
        Developer/IT Security at Lexicon, and seeking an internship opportunity. 
        My academic journey encompasses informatics studies at Lund University, 
        where I honed some skills in Java and flowchart design. Additionally, 
        I have hands-on experience in VR development, specializing in storytelling, 
        sound design, C# scripting, and Unity at Nackademin.
        </p>
        <p>
        I am enthusiastic about contributing my skills and knowledge to an 
        internship in backend development for your customer’s. 
        I am confident in my ability to support projects aligned 
        with your company's objectives.
        </p>
        <p>
            I Have experience from Unity with C# Scripting, Rust, Python, JS etc.            
        </p>
    </main>
{% endblock %}
