{% extends 'base.html' %}
{% block content %}
    <main class="main main--about">
        <h3>
            Currently
        </h3>
        <p>
        My name’s Martin, an aspiring Python developer who’s studying System 
        Developer/IT Security at Lexicon. In the program we're doing webdevelopment
        using JS, CSS, HTML. But with a focus on python and certain frameworks like Django,
        Flask, and FastAPI. With that I have also learned SQL, and NoSQL. 
        Additionally I'm also studying IT-security like learning
        pentesting, ethical hacking, OSI, OWASP Top 10, Azure, and more. 
        </p>
        <h3>
            Done Previously
        </h3>
        <p>
        My academic journey encompasses informatics studies at Lund University, 
        where I honed some skills in Java and Systems Design. Additionally, 
        I have hands-on experience in VR development, specializing in storytelling, 
        sound design, C# scripting, and Unity at Nackademin. 
        I have also studied From Nand To Tetris at Coursera. CS50x course from Harvard at EdX platform.
        </p>
        <h3> Tools and Languages I Use </h3>
        <p>
        Python, C#, Rust, JavaScript, CSS, HTML, Docker, Linux, NeoVim, VS Code, Azure, BurpSuite, Kali-Linux, VMs.
        </p>
        <h3>What I'm Looking For </h3>
        <p>
        I am enthusiastic about contributing my skills and knowledge to an 
        internship or an employment in backend development for your organization.
        </p>
        <br>
        <h3>
        <a href="{{ url_for('download_project_file') }}" class="btn btn-primary">Download my resume</a>
        </h3>
    </main>
{% endblock %}
